:root{
    --nav-bar : #0b395f;
    --body: #152b37;
    --tint: #0ef2f6;    
    --header: #0fd3ff;
    --button: #0a598a;
    --bg: #0b4364;
}
body{
    background-color: #032d46;
    background-image: linear-gradient(to right, #032d46, #042e48, #05304b, #07314d, #093250);
    color: white;
    transition: 0.8s;
}
.reveal{
    position: relative;
    transform: translateY(130px);
    opacity: 0;
    transition: 1s all ease;
}  
.reveal.active
{
    transform: translateY(0);
    opacity: 1;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    background: var(--body);
}
body::-webkit-scrollbar-thumb{
    background: var(--tint);
    border-radius: 20px;
}


/* #preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner {
    border: 6px solid var(--body);
    border-top: 6px solid var(--tint);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */


/*................... nav bar start .................  */
#navbar-example{
    background-color: var(--nav-bar);
}
.navbar .nav-link.active,
.nav-link:hover{
    color: var(--tint);
}
.navbar-brand img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.navbar-toggler{
    border: none;
    color: white;
    box-shadow: none;
    outline: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
}
#navbarNav{
    justify-content: right;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-item{
    padding: 0 25px;
    position: relative;
}
.nav-link{
    color: white;
}
.nav-item:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--tint);
    position: absolute;
    left: 0;
}
/*................... nav bar end .................  */

/*................... home start .................  */
#home{
    align-items: center;
    margin: 50px auto 0;
}
#hello p{
    font-size: 14pt;
    line-height: 1.8;
    width: 70%;
    margin: auto;
}
#hello h1{
    text-transform: uppercase;
    font-weight: bold; 
    color: var(--header);
    font-size: 34pt;
}
#hello img{
    margin-top: -20px;
}

/*// Glow Border Animation //*/
#center-box{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 3rem;
    height: 3rem;
    font-size: 14pt;
    text-decoration: none;
    margin: 0 20px 16px 20px;
    text-align: center;
}
.animated-border-box, .animated-border-box-glow{
    max-height: 60px;
    max-width: 60px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden; 
    z-index: 0;
    border-radius: 10px;
}
.animated-border-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 80%;
    margin: 6px auto;
    border-radius: 7px;
    font-size: 14pt;
    text-decoration: none;
    color: white;
    background-color: var(--nav-bar);
}
.animated-border-box a:hover{
    background-color: var(--button);
    color: white;
}
.animated-border-box-glow{
    overflow: hidden;
    filter: blur(20px);
}
.animated-border-box:before, .animated-border-box-glow:before{
    content: '';
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient( #14aadc, rgba(69, 47, 47, 0) 23%);
    animation: rotate 4s linear infinite;
}
.animated-border-box:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: transparent;
    border: 2px solid var(--header);
    border-radius: 7px;
}
@keyframes rotate {
    100% {
    transform: translate(-50%, -50%) rotate(1turn);
    }
}
/*// Border Animation END//*/

@media screen and (max-width: 768px){
    #hello p{
        width: 100%;
        font-size: 13pt;
    }
    #hello h1{
        font-size: 29pt;
    }
    #hello img{
        width: 50% !important;
        margin-top: -80px;
    }
    #hello .order-md-1{
        margin-top: -30px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 540px){
    #hello img{
        width: 55% !important;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    #hello h3{
        font-size: 14pt !important;
    }
    #hello h1{
        font-size: 22pt !important;
    }
    #hello p{
        font-size: 11pt;
        margin-top: 12px !important;
        margin-bottom: 30px !important;
    }
    #home{
        margin-bottom: 30px;
    }
}
/*................... home end .................  */

/*................... about me start .................  */
#about{ 
    margin-bottom: 40px;
    padding-top: 60px;
    color: white;
    border-top: 2px solid var(--header);
}
#about-content > label{
    margin-bottom: 10px;
    font-size: 13pt;
    font-weight: 500;
    font-family: calibri;
    margin-top: 4px;
    color: #57c2f8;
}
#about-content > p{
    line-height: 2;
    word-spacing: 2px;
    font-family: calibri;
    font-size: 14pt;
}
#hire{
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--nav-bar);
    color: white;
}
#hire:hover{
    color: var(--tint);
}
#hire:focus{
    border: 1px solid var(--nav-bar);
}
@media screen and (max-width: 767px){
    #about-content{
        margin-bottom: -30px;
    }
    #about-content > .d-flex > i{
        font-size: 17pt !important;
    }
    #about-content > .d-flex > h2,
    #services > .d-flex > h2,
    #contact > .d-flex:first-child > h2{
        font-size: 19pt !important;
    }
}
@media screen and (max-width: 450px){
    #about{
        padding-top: 50px;
    }
    #about-content{
        padding: 0 20px;
    }
    #about-content > .d-flex > h2{
        font-size: 15pt !important;
        margin-left: -5px !important;
    }
    #about-content > .d-flex > i{
        font-size: 14pt !important;
        margin-bottom: 8px !important;
    }
    #about-content label{
        font-size: 11pt;
    }
    #about-content > p{
        line-height: 1.6;
        font-size: 11pt;
    }
}

#skill{
    margin-top: 50px;
    background-color: var(--bg);
    padding: 35px 35px 50px;
    border-radius: 10px;
    border: 1px solid var(--header);
}
#skill-content .col-lg-7{
    padding-left: 80px;
}
#span-block{
    display: flex; 
    align-items: center;
    width: fit-content;
}
#span-block > h3{
    font-size: 25pt;
}
#span-block > span{
    display: inline-block;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--header);
    width: 20px;
    height: 4px;
    border-radius: 20px;
    margin-right: 10px;
}
#development-content h6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 70px;
    margin: auto;
    background-color: transparent;
    text-align: center;
    border: 1px solid var(--tint);
    border-radius: 20%;
}
#tool-content i{
    color: var(--tint);
}

#design-content > img{
    display: block;
    object-fit: cover;
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 768px){
    #skill{
        margin: 80px 20px !important;
    }
    #skill-content .col-lg-7{
        padding-left: 0 !important;
        margin-top: 20px;
    }
    #skill-content .col-lg-7 > div > .d-flex:nth-child(1){
        border-top: 1px solid white;
        padding-top: 25px;
    }
    #tool-content{
        margin-bottom: -25px;
    }
    #tool-content,
    #design-content{
        padding: 0 20px;
    }
}
@media screen and (max-width: 576px){
    #skill-content .col-lg-5 .d-flex:first-child > i,
    #skill-content .col-lg-7 .d-flex:first-child > i,
    #skill-content .col-lg-7 .d-flex:nth-child(2) > i{
        font-size: 11pt !important;
    }
    #skill-content .col-lg-5 .d-flex:first-child > h5,
    #skill-content .col-lg-7 .d-flex:first-child > h5,
    #skill-content .col-lg-7 .d-flex:nth-child(2) > h5{
        margin-left: 10px !important;
        font-size: 13pt !important;
    }
    #development-content h6{
        width: 100%;
        height: 50px;
        border-radius: 10px;
    }
}

#experience{
    margin: 90px 0;
}
#experience .col-lg-8{
    position: relative;
    border-left: 2px solid var(--header);
    padding-bottom: 30px;
}
#experience #arrow-down{
    position: absolute;
    bottom: -9px;
    margin-left: -20px;
    color: var(--header);
    font-size: 17pt;
}
#ex-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -32px;
    margin-right: 30px;
    background-color: var(--nav-bar);
    color: #86e7ff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 12pt;
}
#experience .col-lg-8 .d-flex:hover #ex-icon{
    background-color: var(--header) !important;
    color: black;
}
.bar {
    position: relative;
    background: var(--bg);
    border: 1px solid var(--header);
    width: 100%;
    border-radius: 5px;
    text-align: left;
    padding: 10px 15px 8px 20px;
}
.bar > label{
    color: var(--header);
}
.bar > h6{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 6px;
}
.bar > p{
    line-height: 1.8;
}
.bar:after, .bar:before {
    position: absolute;  
    content: "";
    width: 0; 
	height: 0; 
    top: 50%;
}
.bar:before {
    left: -8px;
    margin-top: -8px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	border-right: 8px solid var(--header); 
}
.bar:after {
    left: -7px;
    margin-top: -7px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 
	border-right: 7px solid #0f3f5b; 
}
@media screen and (max-width: 450px){
    #ex-icon{
        margin-left: -30px;
        margin-right: 14px;
        width: 35px;
        height: 35px;
        font-size: 11pt;
    }
    .bar > p{
        line-height: 1.5;
        margin-top: 10px;
        font-size: 11pt;
    }
    #experience #span-block{
        margin-left: -24px;
    }
}

/*................... about me end .................  */


/*................... services start .................  */
#services{
    margin-top: 130px;
    margin-bottom: 100px;
}
#services-content > div{
    transition: 0.5 ease;
    margin-bottom: 20px;
}
#services-content > div:hover .d-flex{
    color: var(--tint);
    transform: scale(1.01);
}
#web,#creative,#photo{
    padding: 25px 20px 15px;
    background-color: var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.702);
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.503);
}
@media screen and (max-width: 767px){
    #services{
        margin-bottom: 190px;
    }
    #services > .mx-5{
        margin: auto 20px !important;
    }
    #services-content p{
        margin-top: 0 !important;
        font-size: 11pt !important;
    }
    #services-content h5{
        font-size: 13pt;
    }
    #services > .d-flex > i{
        font-size: 18pt !important;
        margin-bottom: 10px !important;
    }
    #services > .d-flex{
        margin-bottom: 14px !important;
    }
}
 
/*................... services end .................  */


/*................... portfolio start .................  */
#portfolio{
    margin-top: 140px;
    margin-bottom: 100px;
}
#portfolio > div:first-child,
#services > .d-flex:first-child{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}
#portfolio > div:first-child > i,
#about-content i,
#services > .d-flex:first-child > i,
#contact > .d-flex:first-child > i{
    color: var(--tint);
    font-size: 20pt;
    margin-bottom: 4px;
}
#portfolio > div:first-child > h2,
#about-content h2,
#services > div:first-child > h2,
#contact > .d-flex:first-child > h2{
    font-size: 24pt;
    text-transform: uppercase;
    font-weight: bold;
}
#portfolio-content{
    margin-bottom: 80px !important;
}
#portfolio-content{
    background-color: var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.702);
    margin: 0 20px;
    padding: 40px 0;
    border-radius: 8px;
    box-shadow: rgba(34, 34, 39, 0.897) 0px 6px 12px -2px, rgba(0, 0, 0, 0.479) 0px 3px 7px -3px;
}
#portfolio-content-ph{
    display: none;
}
#portfolio-content > img,
#portfolio-content-ph > img{
    width: 90%;
}
#portfolio-content > div{
    margin: 0 30px;
    border-top: 1px solid var(--header);
    padding-top: 20px;
}
#portfolio-content > div h3,
#portfolio-content-ph > div h3{
    text-transform: uppercase;
    font-family: calibri;
    font-weight: bold;
}
#demo{
    padding: 8px 40px;
    background-color: #1f9ab8;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
#demo:hover{
    color: var(--body);
}
#portfolio-content > div > label{
    margin-top: 15px;
    line-height: 1.8;
}
#language-content > span{
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid var(--button);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.702);
    margin-right: 20px;
}
@media screen and (max-width: 620px){
    #language-content > span{
        padding: 10px 20px;
        margin-right: 15px;
    }
}
@media screen and (max-width: 576px){
    #portfolio{
        margin-top: -50px;
    }
    #portfolio > .d-flex > h2{
        font-size: 18pt !important;
    }
    #portfolio > .d-flex{
        margin-bottom: -30px !important;
    }
    #portfolio-content{
        display: none;
    }
    #portfolio-content-ph{
        display: block;
        height: fit-content;
        background-color: var(--bg);
        border: 1px solid rgba(255, 255, 255, 0.702);
        margin: 30px 20px 40px;
        padding: 20px 0 25px;
        border-radius: 8px;
        box-shadow: rgba(34, 34, 39, 0.897) 0px 6px 12px -2px, rgba(0, 0, 0, 0.61) 0px 3px 7px -3px;
    }
    .swiper-btns{
        display: block;
    }
    #portfolio-content-ph > div h3{
        font-size: 16pt;
    }
    #demo{
        font-size: 10pt;
        padding: 5px 20px;
    }
    #portfolio-content-ph > div > label{
        margin-top: 10px;
        line-height: 1.7;
        font-size: 11pt;
    }
    #portfolio-content-ph > div{
        margin: 0 20px;
        border-top: 1px solid var(--header);
        padding-top: 20px;
    }
    #language-content > span{
        padding: 8px 15px;
        font-size: 11pt;
        margin-right: 15px;
    }
    #portfolio > div:first-child > i{
        font-size: 18pt;
        margin-bottom: 8px !important;
    }
}
@media screen and (max-width: 477px){
    #language-content{
        margin-top: 12px !important;
    }
    #language-content > span{
        padding: 8px 10px;
        font-size: 10pt;
        margin-right: 10px;
    }
    .swiper-btns button{
        width: 36px !important;
        height: 36px !important;
        font-size: 11pt !important;
    }
    #portfolio-content-ph > div > label{
        line-height: 1.5 !important;
        height: 120px;
        margin: 16px 0 20px;
    }
}
@media screen and (max-width: 399px){
    #portfolio-content-ph > div h3{
        font-size: 14pt;
        margin-bottom: 0;
    }
    #language-content{
        display: block !important;
    }
    #language-content span{
        display: inline-block;
        padding: 6px 10px !important;
        margin-bottom: 10px !important;
    }
}


.swiper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    width: 100%;
    padding: 0;
    z-index: 0;
}
.swiper-btns{
    display: none;
    position: absolute;
    display: flex;
    margin-top: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
}
.swiper-btns button{
    position: static;
    background-color: var(--header);
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 50px;
    text-align: center;
    font-size: 12pt;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-pagination-bullet-active {
    background-color: var(--tint) !important;
}
/*................... portfolio end.................  */


/*................... contact start .................  */
#contact{
    margin-top: 110px;
    margin-bottom: 80px;
}
#contact > .d-flex:first-child{
    margin-bottom: 15px !important;
}
#contact-info{
    margin-top: 30px;
    font-size: 15pt;
}
#contact-info > p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}

.form-control{
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 16px;
    background-color: var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.373);
}
.form-control::placeholder{
    color: rgba(255, 255, 255, 0.784);
   margin-bottom: -10px;
}
.form-control:focus{
    box-shadow: none;
    background-color: var(--bg);
    border: 1px solid var(--header);
    color: white;
}
textarea{
    resize: none !important;
}
#send{
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--nav-bar);
    color: white;
    width: 100%;
}
#send:hover{
    color: var(--tint);
}
#send:focus{
    border: 1px solid var(--nav-bar);
}
@media screen and (max-width: 767px){
    #let-work{
        margin-top: -10px;
        margin-bottom: 20px;
        padding-left: 13px !important;
    }
    #contact-info{
        margin-top: 20px;
        font-size: 14pt;
    }
    #contact-info > p{
        padding: 6px 0;
    }
    #contact > .d-flex > i{
        font-size: 18pt !important;
        margin-bottom: 8px !important;
    }
}
/*................... contact end .................  */

/*................... footer start .................  */
#footer{
    background-color:#08080897;
    padding: 15px 0 25px !important;
}
#footer-social{
    text-align: center;
    padding: 20px;
}
#footer-social > a{
    color: white;
    font-size: 18pt;
    padding: 25px 20px;
}
#footer-social > a:hover{
    color: var(--header);
}
hr{
    color: white;
    width: 80%;
    text-align: center;
    margin: auto;
}
#footer-text{
    text-align: center;
}
#footer-text > p{
    margin-top: 15px;
    color: white;
    font-size: 15pt;
}
@media screen and (max-width: 450px){
    #footer{
        padding:0 0 18px !important;
    }
    #footer-social > a{
        font-size: 15pt !important;
        padding: 20px;
    }
    #footer-text > p{
        font-size: 12pt;
        margin-top: 18px;
    }
}
/*................... footer end .................  */